@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&display=swap');

body {
  background-image: url(images/background.jpg);
  background-size: cover;
  font-family: 'Courier Prime', monospace;
  backdrop-filter: blur(5px); /* Adjust the blur amount as needed */
  background-color: #00010f;
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin: 0;
}

.loader {
  
  animation: spin 1.5s linear alternate infinite;
  background: #B73F41;
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

.loader:before {
  background: #B73F41;
  border-radius: 50%;
  content: '';
  display: block;
  height: 0.5em;
  width: 0.5em;
  z-index: 2;
}

.loader:after {
  background: #00010f;
  border-radius: 50%;
  box-shadow: 0em -2.60em #00010f, 2.25em -4.02em #00010f, 2.25em -1.25em #00010f, 4.60em 0em #00010f, 2.25em 1.25em #00010f, 2.25em 4.02em #00010f, 0em 2.60em #00010f, -2.25em 4.02em #00010f, -2.25em 1.25em #00010f, -4.60em 0em #00010f, -2.25em -1.25em #00010f, -2.25em -4.02em #00010f;
  content: '';
  display: block;
  height: 2em;
  width: 2em;
}

.inner {
  animation: load 1.5s linear alternate infinite;
  border: solid 1px #B73F41;
  border-radius: 50%;
  height: 1.75em;
  width: 1.75em;
  z-index: 1;
}

.loader,
.loader:before,
.loader:after,
.inner {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

@keyframes load {
  0% {
    box-shadow: 0em -2.60em #00010f, 2.25em -1.25em #00010f, 2.25em 1.25em #00010f, 0em 2.60em #00010f, -2.25em 1.25em #00010f, -2.25em -1.25em #00010f;
  }
  15% {
    box-shadow: 0em -2.60em #00010f, 2.25em -1.25em #00010f, 2.25em 1.25em #00010f, 0em 2.60em #00010f, -2.25em 1.25em #00010f, -2.25em -1.25em #B73F41;
  }
  30% {
    box-shadow: 0em -2.60em #00010f, 2.25em -1.25em #00010f, 2.25em 1.25em #00010f, 0em 2.60em #00010f, -2.25em 1.25em #B73F41, -2.25em -1.25em #B73F41;
  }
  45% {
    box-shadow: 0em -2.60em #00010f, 2.25em -1.25em #00010f, 2.25em 1.25em #00010f, 0em 2.60em #B73F41, -2.25em 1.25em #B73F41, -2.25em -1.25em #B73F41;
  }
  60% {
    box-shadow: 0em -2.60em #00010f, 2.25em -1.25em #00010f, 2.25em 1.25em #B73F41, 0em 2.60em #B73F41, -2.25em 1.25em #B73F41, -2.25em -1.25em #B73F41;
  }
  75% {
    box-shadow: 0em -2.60em #00010f, 2.25em -1.25em #B73F41, 2.25em 1.25em #B73F41, 0em 2.60em #B73F41, -2.25em 1.25em #B73F41, -2.25em -1.25em #B73F41;
  }
  90% {
    box-shadow: 0em -2.60em #B73F41, 2.25em -1.25em #B73F41, 2.25em 1.25em #B73F41, 0em 2.60em #B73F41, -2.25em 1.25em #B73F41, -2.25em -1.25em #B73F41;
  }
  100% {
    box-shadow: 0em -2.60em #B73F41, 2.25em -1.25em #B73F41, 2.25em 1.25em #B73F41, 0em 2.60em #B73F41, -2.25em 1.25em #B73F41, -2.25em -1.25em #B73F41;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(60deg);
  }
  30% {
    transform: rotate(120deg);
  }
  45% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(240deg);
  }
  75% {
    transform: rotate(300deg);
  }
  90% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.stopwatch {
  display: none;
}

h1 {
  color: rgb(118, 195, 237);
  font-size: 3em;
  text-align: center;
  margin-top: 15vh;
  font-weight: 900;
}

.letter {
  opacity: 0;
  animation: fadeIn 0.5s linear forwards;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.stopwatch_m {
  width: 70%;
  max-width: 600px;
  background-image: linear-gradient(rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.8)), url(images/background.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  text-align: center;
  padding: 50px 0;
  color: #fff;
  margin: 50px auto 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid rgb(17, 103, 174);
}

.stopwatch_m h2 {
  font-size: 64px;
  margin-bottom: 20px;
  font-weight: 300;
  margin-top: 20px;
}

.buttons {
  display: flex; /* Use flexbox to align items side by side */
  justify-content: center; /* Center align items horizontally */
}

.stop-btn, .start-btn, .reset-btn, .lap-btn {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 30px; /* Rounded corners */
  color: #fff;
  transition: all 0.3s ease; /* Smooth transition */
}
.number, .hour-hand, .minute-hand {
  transform: translateZ(20px); /* make the numbers and hands pop out */
}
.stop-btn {
  background-color: #b73f41; /* Radiant color */
}

.start-btn {
  background-color: #4bb543; /* Radiant color */
}

.reset-btn {
  background-color: #3498db; /* Radiant color */
}

.lap-btn {
  background-color: #9b59b6; /* Radiant color */
}

/* Glow effect on hover */
.stop-btn:hover, .start-btn:hover, .reset-btn:hover, .lap-btn:hover {
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8); /* Glow effect */
}

.clock {
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  position: relative;
right: 0;
width: 250px;
height: 250px;
background: radial-gradient(circle at center, #321701, #1c1001);
border-radius: 50%;
box-shadow: 
  0 0 30px rgba(0,0,0,0.2), /* outer shadow */
  0 0 10px rgba(0,0,0,0.2), /* inner shadow */
  inset 0 0 30px rgba(255,255,255,0.3), /* outer glow */
  inset 0 0 10px rgba(255,255,255,0.3), /* inner glow */
  0 0 0 10px rgba(255,255,255,0.1), /* outer border */
  0 0 0 15px rgba(0,0,0,0.2), /* inner border */
  0 0 0 20px rgba(255,255,255,0.1), /* outer border */
  0 0 0 25px rgba(0,0,0,0.2); /* inner border */
transform: perspective(500px) rotateX(10deg) rotateY(10deg);
}

.number {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -150%) rotate(calc(var(--i) * 30deg)) translateY(-100px);
  color: #fff;
  font-size: 18px;
}

.number::before {
  content: attr(data-number);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hour-hand, .minute-hand, .second-hand {
  position: absolute;
  background-color: #f80606;
  transform-origin: bottom center;
  
}

.hour-hand {
  width: 6px;
  height: 60px;
  top: 25%;
  left: 49%;
  transform: translate(-50%, -100%) rotate(90deg);
}

.minute-hand {
  width: 4px;
  height: 80px;
  top: 19%;
  left: 50%;
  transform: translate(-50%, -100%) rotate(180deg);
}

.second-hand {
  width: 2px;
  height: 90px;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -100%) rotate(270deg);
}

.center-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  
  background: #fff;
  border-radius: 50%;
}
@media screen and (max-width: 600px) {
  .stopwatch_m {
    width: 90%; /* Adjusted width for smaller mobile screens */
  }
  h1{
    font-size: 2em;
    margin-top: 10vh;
  }

  /* Adjust button padding for smaller screens */
  .stop-btn, .start-btn, .reset-btn, .lap-btn {
    padding: 8px 16px;
    font-size: 14px;
  }

  /* Adjust clock size for smaller screens */
  .clock {
    width: 200px;
    height: 200px;
  }

  /* Adjust clock number size for smaller screens */
  .number {
    font-size: 14px;
    
  }

  /* Adjust clock hand sizes for smaller screens */
  .hour-hand {
    height: 40px;
  }

  .minute-hand {
    height: 60px;
  }

  .second-hand {
    height: 70px;
  }
}