@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital@1&display=swap');

body {
  background: #00010f;
  overflow: hidden;
  font-family: 'Courier Prime', monospace;
}

.loader {
  animation: spin 1.5s linear alternate infinite;
  background: #B73F41;
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

.loader:before {
  background: #B73F41;
  border-radius: 50%;
  content: '';
  display: block;
  height: 0.5em;
  width: 0.5em;
  z-index: 2;
}

.loader:after {
  background: #00010f;
  border-radius: 50%;
  box-shadow: 0em -2.60em #00010f, 2.25em -4.02em #00010f, 2.25em -1.25em #00010f, 4.60em 0em #00010f, 2.25em 1.25em #00010f, 2.25em 4.02em #00010f, 0em 2.60em #00010f, -2.25em 4.02em #00010f, -2.25em 1.25em #00010f, -4.60em 0em #00010f, -2.25em -1.25em #00010f, -2.25em -4.02em #00010f;
  content: '';
  display: block;
  height: 2em;
  width: 2em;
}

.inner {
  animation: load 1.5s linear alternate infinite;
  border: solid 1px #B73F41;
  border-radius: 50%;
  height: 1.75em;
  width: 1.75em;
  z-index: 1;
}

.loader,
.loader:before,
.loader:after,
.inner {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

@keyframes load {
  0% {
    box-shadow: 0em -2.60em #00010f, 2.25em -1.25em #00010f, 2.25em 1.25em #00010f, 0em 2.60em #00010f, -2.25em 1.25em #00010f, -2.25em -1.25em #00010f;
  }
  15% {
    box-shadow: 0em -2.60em #00010f, 2.25em -1.25em #00010f, 2.25em 1.25em #00010f, 0em 2.60em #00010f, -2.25em 1.25em #00010f, -2.25em -1.25em #B73F41;
  }
  30% {
    box-shadow: 0em -2.60em #00010f, 2.25em -1.25em #00010f, 2.25em 1.25em #00010f, 0em 2.60em #00010f, -2.25em 1.25em #B73F41, -2.25em -1.25em #B73F41;
  }
  45% {
    box-shadow: 0em -2.60em #00010f, 2.25em -1.25em #00010f, 2.25em 1.25em #00010f, 0em 2.60em #B73F41, -2.25em 1.25em #B73F41, -2.25em -1.25em #B73F41;
  }
  60% {
    box-shadow: 0em -2.60em #00010f, 2.25em -1.25em #00010f, 2.25em 1.25em #B73F41, 0em 2.60em #B73F41, -2.25em 1.25em #B73F41, -2.25em -1.25em #B73F41;
  }
  75% {
    box-shadow: 0em -2.60em #00010f, 2.25em -1.25em #B73F41, 2.25em 1.25em #B73F41, 0em 2.60em #B73F41, -2.25em 1.25em #B73F41, -2.25em -1.25em #B73F41;
  }
  90% {
    box-shadow: 0em -2.60em #B73F41, 2.25em -1.25em #B73F41, 2.25em 1.25em #B73F41, 0em 2.60em #B73F41, -2.25em 1.25em #B73F41, -2.25em -1.25em #B73F41;
  }
  100% {
    box-shadow: 0em -2.60em #B73F41, 2.25em -1.25em #B73F41, 2.25em 1.25em #B73F41, 0em 2.60em #B73F41, -2.25em 1.25em #B73F41, -2.25em -1.25em #B73F41;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(60deg);
  }
  30% {
    transform: rotate(120deg);
  }
  45% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(240deg);
  }
  75% {
    transform: rotate(300deg);
  }
  90% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.stopwatch {
  display: none;
}

h1 {
  color: rgb(118, 195, 237);
  font-size: 3em;
  text-align: center;
  margin-top: 15vh;
  font-weight: 900;
}

.letter {
  opacity: 0;
  animation: fadeIn 0.5s linear forwards;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.stopwatch_m {
  width: 70%;
  max-width: 600px;
  background-image: linear-gradient(rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.8)), url(images/background.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  text-align: center;
  padding: 50px 0;
  color: #fff;
  margin: 50px auto 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid rgb(17, 103, 174);
}

.stopwatch_m h2 {
  font-size: 64px;
  margin-bottom: 20px;
  font-weight: 300;
  margin-top: 20px;
}

.buttons {
  display: flex; /* Use flexbox to align items side by side */
  justify-content: center; /* Center align items horizontally */
}

.buttons img {
  width: 80px; /* Set width */
  height: 80px; /* Set height */
  margin-right: 20px; /* Add some spacing between images */
  
}

.buttons img:nth-child(2) {
  width: 100px;
}


.clock{
  margin: auto;
  
  top: 0; left: 0; bottom: 0; right: 0;
  width: 250px;
  height: 250px;
  background: #23242e;
  border-radius: 50%;
  box-shadow: 10px 50px 70px rgba(0, 0, 0, 0.25);
  inset : 5px 5px 10px rgba(0,0,0,0.5);
  inset : 5px 5px 20px rgba(0,0,0,0.2);
  inset: -5px -5px 15px rgba(0,0,0,0.75); 
}

.clock span b{
 position: absolute;
 inset: 295px 320px 340px 320px;;
  text-align: center;
  transform: rotate(calc(30deg * var(--i)));
 font-weight: 600; 
 display: inline-block;

}

.circle{
  position: absolute;
  width : 150px;
  height : 150px;
  border-radius : 50%;
  border : 2px solid rgba(116, 108, 108, 0.25);
  left: 97.7vh;
  top:38.5vh;
}
.hour-hand, .minute-hand, .second-hand {
  position: absolute;
  background-color: rgb(236, 14, 14);
  transform-origin: bottom center;
}

.hour-hand {
  width: 6px;
  height: 60px;
  top: 40.2%;
  left: calc(50% - 3px);
}

.minute-hand {
  width: 4px;
  height: 80px;
  top: 38%;
  left: calc(50% - 2px);
}

.second-hand {
  width: 2px;
  height: 90px;
  top: 36.5%;
  left: calc(50% - 1px);
}

.buttons {
  margin-top: 20px;
  text-align: center;
}

.stop-btn, .start-btn, .reset-btn, .lap-btn {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  cursor: pointer;
}